body{font-family:sans-serif;text-align:center;margin:0;padding: 0 1rem}
h2{font-size:1.2rem;font-weight:normal;color:#444}
a.btn,a.btn:visited{display:block;margin:0 auto 1rem;padding:.75rem 1rem;max-width:300px;background:#1d3e59;color:#fff;text-decoration:none;border-radius:4px}
a.btn:hover{background:#2a5a7e}
a.btn:active{background:#152d42}
a, a:visited{color:blue}
